<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType
			id="net.enilink.komma.graphiti.test.TestDiagramType"
			type="graphitiTest"
			name="KOMMA Graphiti Test Diagram"
			description="This is a diagram type to evaluate and test Graphiti features for use in the KOMMA framework">
		</diagramType>
	</extension>
	
	<extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider
			id="net.enilink.komma.graphiti.test.TestDiagramTypeProvider"
			name="KOMMA Test Editor"
			class="net.enilink.komma.graphiti.KommaDiagramTypeProvider"
			description="This is a test Graphiti editor for use in the KOMMA framework">
			<diagramType
				id="net.enilink.komma.graphiti.test.TestDiagramType">
			</diagramType>
		</diagramTypeProvider>
	</extension>
	
	<extension
         point="org.eclipse.ui.editors">
 	  <editor
          class="net.enilink.komma.graphiti.KommaDiagramEditor"
          contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
          default="true"
          extensions="diaowl, diattl, diardf, diaemf"
          icon="icons/diagram.gif"
          id="net.enilink.komma.graphiti.KommaDiagramEditor"
          matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
          name="%_diagram_editor_name">
      </editor>
   </extension>
 <extension
       point="org.eclipse.graphiti.ui.imageProviders">
    <imageProvider
          class="net.enilink.komma.graphiti.ImageProvider"
          id="net.enilink.komma.graphiti.imageProvider">
       <diagramTypeProvider
             id="net.enilink.komma.graphiti.test.TestDiagramTypeProvider">
       </diagramTypeProvider>
    </imageProvider>
 </extension>
</plugin>
